openapi: 3.0.3
info:
  title: Gmail API - Send Email (with Structured Body)
  description: |
    Gmail API specification for sending emails. Supports either:
    1) native Gmail "raw" RFC822 (base64url), or
    2) a structured JSON body (from/to/subject/text/html/attachments) that the proxy
       converts to RFC822 and forwards to Gmail.
  version: "v1"
  contact:
    name: Google Gmail API
    url: https://developers.google.com/gmail/api
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms

servers:
  - url: https://gmail.googleapis.com
    description: Gmail API production server
  # If calling through your proxy, add:
  - url: https://gmailsender.myinstantapi.com/prod/v1
    description: Proxy that assembles RFC822 and calls Gmail

security:
  - oauth2: [https://www.googleapis.com/auth/gmail.send]

paths:
  /gmail/v1/users/{userId}/messages/send:
    post:
      summary: Send an email message
      description: |
        Sends the specified message to recipients in the To, Cc, and Bcc headers.
        You may provide either a pre-built RFC822 message (`raw`) or a structured JSON
        (`structured`) that will be converted into RFC822 by the proxy.
      operationId: sendMessage
      tags: [Messages]
      security:
        - oauth2: [https://www.googleapis.com/auth/gmail.send]
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. Use "me" for the authenticated user.
          schema:
            type: string
            example: "me"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SendMessageRequestRaw'
                - $ref: '#/components/schemas/SendMessageRequestStructured'
            examples:
              simple_raw_email:
                summary: Raw RFC822 (base64url)
                value:
                  raw: "RnJvbToganVsaWVucG1qYWNxdWV0QGdtYWlsLmNvbQpUbzoganVsaWVucG1qYWNxdWV0QGdtYWlsLmNvbQpTdWJqZWN0OiBIZWxsbyBXb3JsZAoKSGVsbG8gV29ybGQK"
              simple_structured_text:
                summary: Structured text email
                value:
                  structured:
                    from: "julienpmjacquet@gmail.com"
                    to: ["recipient@example.com"]
                    subject: "Hello from Gmail API"
                    text: "This is a test email sent via the structured body."
              structured_html_cc_bcc:
                summary: HTML email with CC/BCC
                value:
                  structured:
                    from: "me"        # will resolve to authenticated user
                    to: ["a@ex.com","b@ex.com"]
                    cc: ["c@ex.com"]
                    bcc: ["d@ex.com"]
                    subject: "Weekly Update"
                    html: "<h1>Hi team</h1><p>Updates inside.</p>"
                    headers:
                      Reply-To: "ops@example.com"
                    attachments:
                      - filename: "report.pdf"
                        mimeType: "application/pdf"
                        contentBase64: "JVBERi0xLjQKJ..."   # standard base64
      responses:
        '200':
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                id: "1234567890abcdef"
                threadId: "1234567890abcdef"
                labelIds: ["SENT"]
        '400':
          description: Bad Request - Invalid request format or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: 400
                  message: "Invalid message format"
                  status: "INVALID_ARGUMENT"
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: Gmail API uses OAuth 2.0 for authentication/authorization.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/gmail.send: Send email on behalf of the user
            https://www.googleapis.com/auth/gmail.compose: Compose and send email messages
            https://mail.google.com/: Full access to Gmail (includes send capability)
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/gmail.send: Send email on behalf of the user
            https://www.googleapis.com/auth/gmail.compose: Compose and send email messages

  schemas:
    SendMessageRequestRaw:
      type: object
      description: Native Gmail send using RFC822 base64url "raw".
      required: [raw]
      properties:
        raw:
          type: string
          format: byte
          description: |
            RFC 2822 message, base64url-encoded. Include all headers (To, From, Subject, etc.).
        threadId:
          type: string
          description: Add to an existing thread (omit to start new thread).

    SendMessageRequestStructured:
      type: object
      description: |
        Structured message that the proxy will convert to RFC822 and base64url.
        Provide at least one of "text" or "html".
      required: [structured]
      properties:
        structured:
          type: object
          required: [to, subject]
          properties:
            from:
              type: string
              description: |
                Sender email. Use "me" to send as the authenticated user. If omitted, defaults to "me".
              example: "me"
            to:
              type: array
              items:
                type: string
                format: email
              minItems: 1
              description: Primary recipients.
            cc:
              type: array
              items:
                type: string
                format: email
            bcc:
              type: array
              items:
                type: string
                format: email
            replyTo:
              type: string
              format: email
              description: Reply-To address (overrides From for replies).
            subject:
              type: string
            text:
              type: string
              description: Plaintext body.
            html:
              type: string
              description: HTML body (will be sent as text/html; UTF-8).
            headers:
              type: object
              additionalProperties:
                type: string
              description: Additional custom headers (e.g., "In-Reply-To", "References").
            threadId:
              type: string
